.betterContainer
{
    position: relative;
    display: inline-block;
    width: 59vw;
    height: 69vh;
    z-index: 0;
    font-size: 0;
    /* background-color: rgb(48, 48, 151); */
    background: radial-gradient(25.64% 75.76% at 50% 50%, #134371 0%, #09152B 97.4%);

}

.betterState
{
    position: absolute;
    display: inline-block;
    width: 59vw;
    height: 15vh;
    z-index: 2;
    animation: neon1 1.5s ease-in-out infinite alternate;
    /* background-color: aqua; */
}
.betterVs
{
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 15vh;
    width: 59vw;
    height: 20vh;
    /* background-color: rgb(36, 103, 103); */
}
.betterCoins
{
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 45vh;
    width: 59vw;
    height: 15vh;
    /* background-color: rgb(72, 170, 170); */
    font-size: 0;
    text-align: center;
}


.betterState > p , .betterVs > p
{
    display: inline-block;
    width: 59vw;
    height: 15vh;
    font-size: 6vh;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white; 
    z-index: 4;
}

.betterState > p 
{
    padding-top: 3vh;
    font-size: 6vmin;
    color: gray;
}


.betterCoins > p 
{
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 25vw;
    border-radius: 1vh;
    text-align: center;
    border: 0.1vh solid white;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
    padding: auto auto;
}

.betterFlashLight
{
    position: absolute;
    z-index: 1;
    top: 16vh;
    left: 22vw;
    width: 15vw;
    height: 0.5vh;
    border-radius: 50%;
    background-color: rgb(225, 225, 225);
    box-shadow: 0vh 0vw 0.7vh 0.6vh rgb(199, 199, 199);
    text-align: center;
}

.betterFlashLight > p
{
    position: absolute;
    z-index: 1;
    top: -2.7vmin;
    color: white;
    opacity: 1;
    font-weight: bolder;
    font-style: italic;
    font-size: 6vmin;
    font-family: 'Courier New', Courier, monospace;

}

.betterPlayer1
{
    position: absolute;
    display: inline-block;
    z-index: 5;
    top: 10vh;
    left: 5.5vw;
    width: 16vw;
    height: 59vh;
    background-color: #1f70b7;

    transform: skew(5deg);
}

.betterPlyInside1
{
    display: inline-block;
    width: 15vw;
    height: 54vh;
    margin: 4vh 0.5vw;
    background-color: rgba(0, 0, 0, 0.3); 
}

.betterAvatarR1Cover
{
    display: inline-block;
    width: 9vw;
    height: 10vw;
    background-color: rgb(10, 36, 59) ;
    clip-path    : polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    padding: 0.5vw 0.5vw;
    margin-left: 3vw;
    margin-top: 10vh;
    transform: skew(-5deg);
    animation: neon0 1s ease-in-out infinite alternate;
}

.betterAvatarR1
{
    display: inline-block;
    width: 8vw;
    height: 9vw;
    background-color: #134371;
    background-image: url('../../public/kilua.jpg');
    background-size: 8vw 9vw;
    clip-path    : polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.betterPlayer2
{
    position: absolute;
    display: inline-block;
    z-index: 5;
    left : 37.5vw;
    top: 10vh;
    width: 16vw;
    height: 59vh;
    background-color:  #DA989E;
    font-size: 0;
    transform: skew(-5deg);
}

.betterPlyInside2
{
    display: inline-block;
    width: 15vw;
    height: 54vh;
    margin: 4vh 0.5vw;
    background-color: rgba(0, 0, 0, 0.3); 
}

.betterAvatarR2Cover
{
    display: inline-block;
    width: 9vw;
    height: 10vw;
    background-color: rgb(94, 59, 63)  ;
    clip-path    : polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    padding: 0.5vw 0.5vw;
    margin-left: 3vw;
    margin-top: 10vh;
    transform: skew(5deg);
}

.betterAvatarR2
{
    display: inline-block;
    width: 8vw;
    height: 9vw;
    background-image: url('../../public/machi.jpg');
    background-size: 8vw 9vw;
    clip-path    : polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.bPlayerName2 , .bPlayerName1
{
    display: inline-block;
    width: 15vw;
    height: 3vh;
    font-size: 0;
    margin: 2.5vh 0vw;
    /* background-color: #134371; */
    text-align: center; 
}

.bPlayerName2 > p , .bPlayerName1 > p
{
    display: inline-block;
    font-size: 2vmin;
    color: white;
    vertical-align: top; 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.betterDiposit1 , .betterDiposit2
{
    display: inline-block;
    width: 7vw;
    height: 5vmin;
    border-radius: 1vh;
    font-size: 0;
    background-color: #1f70b7;
    margin: 2.5vh 4vw;   
    border: 0.1vh solid white;
    border-radius: 1vh;
    text-align: center;
}

.betterDiposit1 > p , .betterDiposit2 > p
{
    display: inline-block;
    position: relative;
    top: 10%;
    width: 7vw;
    height: 5vh;
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



@keyframes neon0
{
    from {
        background-color: rgb(94, 59, 63);
    }
    to {
        background-color: #cec023;
    }
}



.betterWinLose
{
    width: 15vw;
    height: 5vh;
    color: yellow;
    font-size: 4vmin;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}

@media (max-width : 400px)
{
    .betterPlayer1 , .betterPlayer2, .betterAvatarR2Cover, .betterAvatarR1Cover 
    {
        transform: skew(0deg);
    }
}

/* @media all and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg); 
        -moz-transform: rotate(90deg); 
        -ms-transform: rotate(90deg); 
        -o-transform: rotate(90deg); 
        transform: rotate(90deg); 
    }
} */