.choosePlayer
{
    width: 59vw;
    height: 68vh;
    /* background-color: aqua; */
    background-image: url("../../public/background_image2.jpg");
    background-size: 68vh 59vw;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0;
}

.playWith
{
    width: 20vw;
    height: 14vh;
    /* background-color: aqua; */
    margin-top: 5vh;
    /* border: 0.5vh solid rgb(85, 85, 241); */
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
    display: inline-block;
}

.choose
{
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* color: chocolate; */
    text-align: center;
    background-color: bisque;
}
.btn
{
    font-size: 2vh;
    width: 8vw;
    height: 3vh;
    background-color: gray;
    border: 0.2vh solid black;
    justify-content: center;
    margin: 2vh 1vw;
}

.btn:hover
{
    cursor: pointer;
    background-color: rgb(75, 115, 247);
}
