/* svgComponent.css */

.svg-container {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .responsive-svg {
    width: 100%;
    height: auto;
  }
  .div1
  {
    width: 10vw;
    height: 10vh;
    background-color: aqua;

  }
