* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}


.menu {
  width: 100vw;
  height: 15vh;
}

.center {
  width: 100vw;
  height: 70vh;
  z-index: 0;
  display: flex;
  flex: row;
  flex-direction: row;
}

.footer {
  width: 100vw;
  height: 15vh;
}

.chat {
  width: 20vw;
  height: 70vh;
  z-index: 1;
  ;
}
.space {
  width: 20vw;
  height: 70vh;
  z-index: 1;
}

.template {
  width: 60vw;
  height: 70vh;
  z-index: 1;
}

.info {
  width: 60vw;
  height: 10vh;
  z-index: 2;
}
.game {
  width: 60vw;
  height: 30vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black ;
}