* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}


.menu {
  width: 100vw;
  height: 15vh;
  background-color: antiquewhite;
}

.center {
  width: 100vw;
  height: 70vh;
  z-index: 0;
  display: flex;
  flex: row;
  flex-direction: row;
}

.footer {
  width: 100vw;
  height: 15vh;
  background-color: rgb(5, 108, 86);
}

.chat {
  width: 20vw;
  height: 70vh;
  z-index: 1;
  background-color: burlywood;
}
.space {
  width: 20vw;
  height: 70vh;
  z-index: 1;
  background-color: rgb(185, 185, 151);
}

.template {
  width: 60vw;
  height: 70vh;
  background-color: rgb(189, 235, 246);
  padding: 0.5vw;
}

.game {
  width: 60vw;
  height: 70vw;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  display: block;
  background-color: red ;
}
/* Mobile styles */
@media (max-width: 768px ) {
  /* Styles for screens up to 768 pixels wide (typical for mobile) */
}
/* @media (orientation : profile)
{
    
} */

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for screens between 769 and 1024 pixels wide (typical for tablets) */
}

/* Desktop styles */
@media (min-width: 1025px) {
  /* Styles for screens wider than 1024 pixels (typical for desktops) */
}
