* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}


.menu {
  width: 100vw;
  height: 15vh;
  background-color: antiquewhite;
}

.center {
  width: 100vw;
  height: 70vh;
  z-index: 0;
  display: flex;
  flex: row;
  flex-direction: row;
}

.footer {
  width: 100vw;
  height: 15vh;
  background-color: rgb(5, 108, 86);
}

.chat {
  width: 20vw;
  height: 70vh;
  z-index: 1;
  background-color: burlywood;
  /* background-image: url("../public/leftAudience.jpeg"); */
  /* background-size: cover; */
}
.space {
  width: 20vw;
  height: 70vh;
  z-index: 1;
  background-color: rgb(185, 185, 151);
  /* background-image: url("../public/rightAudience.jpeg"); */
  /* background-size: cover; */
}

.template {
  display: inline-block;
  width: 60vw;
  height: 70vh;
  background-color: rgb(189, 235, 246);
  padding: 0.5vw;
  text-align: center;
  padding: auto auto;
}

.game {
  width: 60vw;
  height: 70vw;
  display: inline-block;
  background-color: red ;
}

